# {{ rolename }}

{{ galaxy_info.description }}

{{ synopsis }}

{% if synopsis_epilogue is defined %}
{{ synopsis_epilogue }}
{% endif %}
## Requirements

### Ansible version

Minimum required ansible version is {{ galaxy_info.min_ansible_version }}.
{% if requirements is defined and requirements|length() %}
### Other considerations

{{ requirements }}
{% endif %}

## Role Variables

### Variables conditionally loaded

{% if role_vars is not none %}
Those variables from `vars/*.{yml,json}` are loaded dynamically during task
runtime using the `include_vars` module.
{% for el in role_vars %}

Variables loaded from `vars/{{ el.filename }}`.

```yaml
{{ el.content }}
```
{% endfor %}
{#
## All vars in table format.

{% if galaxy_info.required_variables %}
## Required variables:
| Parameter      | Example    | Default    | Comment |
|----------------|------------|------------|---------|
{% for var in meta_info.required_variables%}
|`{{var.key}}`|`{{var.example}}`|{{var.description}}|
{% endfor %}
{% endif %}
#}
{% else %}
None.
{% endif %}

### Default vars

{% if role_defaults is not none %}
{% for el in role_defaults %}
Defaults from `defaults/{{ el.filename }}`.

```yaml
{{ el.content }}
```
{% endfor %}

{% else %}
None.
{% endif %}

## Examples

Install the role either using Ansible-Galaxy or manually.

### Ansible Galaxy installation and usage

```shell
ansible-galaxy install {{github_account}}.{{rolename|replace('ansible-','')}}
```

```yaml
- hosts: all
  roles:
    - role: {{github_account}}.{{rolename|replace('ansible-','')}}
```

### Install with git

If you do not want a global install clone it to in your `roles_path`.

```shell
git clone git@github.com:{{github_account}}/{{rolename}}.git /path/to/roles_path
```

But I often add it as a submdule in a given `playbook_dir` repository.

```shell
git submdule add git@github.com:{{github_account}}/{{rolename}}.git playbook_dir/roles/{{rolename|replace('ansible-','')}}
```

```yaml
- hosts: all
  roles:
  - role: {{rolename|replace('ansible-','')}}
```

## Dependencies

{% if dependencies is defined and dependencies|length() %}
{% for dependencie in dependencies %}
  * {{ dependencie }}
{% endfor %}
{% else %}
None.
{% endif %}
{# #}
{# read todos from meta/main.yml #}
{% if todos is defined and todos|length() %}

## Todo

{% for todo in todos %}
  * {{ todo }}
  {% endfor %}
  {% endif %}

## License

{{ galaxy_info.license }}.

## Author Information

{{ galaxy_info.author }}.

---
This README was generated using ansidoc. This tool is available on pypi!

```shell
pip3 install ansidoc

# validate by running a dry-run (will output result to stdout)
ansidoc --dry-run <rolepath>

# generate you role readme file
ansidoc <rolepath>
```

You can even use it programatically from sphinx. Check it out.
